<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
  <div class="about">
     
  </div>
   <div class="container-fluid" width="300px" height="400px">
    <owl-carousel-o [options]="customOptions">  
    <ng-template carouselSlide><img src="../../../assets/milk1.jpg " width="100%" height="500px"  > </ng-template>  
    <ng-template carouselSlide><img src="../../../assets/cow4.jpg" width="100%" height="500px" ></ng-template> 
    <ng-template carouselSlide><img src="../../../assets/Center.jpg" width="100%" height="500px"></ng-template>
    <ng-template carouselSlide><img src="../../../assets/items.jpg" width="100%" height="500px"></ng-template>     
  </owl-carousel-o>
   </div>
  
   <span>
 
  <main>
  </main>
  <div class="border-container">
      <div class="border"><h2>About Us</h2><br>
          <p>Welcome to Milk Collection Center, where we strive to deliver the<br> purest and freshest milk straight from our Center to your table. <br>Our journey began with a deep-rooted passion for sustainable <br>Centering and a commitment to providing our community with wholesome,<br> nutritious dairy products.At Milk Collection Center, we believe<br> that happy cows produce the best milk. We take pride in <br>maintaining the highest standards of animal, welfare, providing <br>our cows with spacious pastures and a balanced diet, free from harmful<br> additives. Our cows roam freely.</p>

      </div>

      <div class="border"><h2>Our Vision</h2><br>
          <p>At Milk Collection Center, our vision is to redefine the dairy <br>industry by leading with compassion, sustainability, and a<br>commitment to excellence. We envision a future where dairy <br>Centering becomes a harmonious partnership between nature,<br> animals, and the community we serve.We envision a Center<br> that harmonizes with nature, where sustainable Centering practices <br>take Center stage. By prioritizingenvironmental stewardship, <br>we aim to minimize our ecological footprint, conserve natural <br>resources, and preserve the beauty of our surrounding landscape.</p>

      </div>
      </div>
   </span>
  
</body>
</html>